* {
    box-sizing: border-box;
}

body {
    background-color: #E5E5E5;
}

.card {
    display: inline-block;
    text-align: center;
    width: 200px;
    background-color:  #E0E0E0;
    margin: 30px;
}

img {
    width: 130px;
    height: 130px;
}

h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: black;
}

p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: black;
    text-align: center;
}